@import 'variables';

@include breakpoint(small) {
  .hero {
    text-align: center;
    background: $hero-background;
    color: $light-green;
    
    code {
      padding: 2rem 1rem;
      background: rgba(255,255,255, 0.075);
      border-radius: 6px;
      border: 1px solid rgba(255,255,255, 0.3);
      color: lighten($light-green, 15%);
    }

    .logo-container {
      margin: auto;
      width: $hero-logo-size + (2 * $hero-logo-padding);
      height: $hero-logo-size + (2 * $hero-logo-padding);
      padding: $hero-logo-padding;;
      background: $white;
      border-radius: 6px;
    }

    .logo {
      width: $hero-logo-size;
      height: $hero-logo-size;
      background: $white;
      border: 2px dotted $black;
      border-radius: 4px;
    }
  }
  .hero-download {
    margin-top: 2rem;
    line-height: 6rem + 1.5rem;
  }
}

@include breakpoint(medium) {
  .hero {
    code {
      padding: 3rem;
    }
  }
}
