@import 'variables';

@include breakpoint(small) {
  body {
    margin: 0;
    padding: 0;
    //padding-top: $fixed-top-height;
  }

  #main-content {
    min-height: 100%;
  }
  
  #body-copy {
    position:relative;
    padding: $fixed-top-height 0;
    padding-bottom: 300px
  }

  #footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-top: $fixed-top-height;
    .row {
      padding-bottom: $fixed-top-height / 2;
    }
    
    .final-row {
      padding: 12px 0;
    }
  }

  .fixed-top {
    display: block;
    position: fixed;
    top: 0;
    z-index: $zindex-fixed-top;
    height: $fixed-top-height;
    width: 100%;

    .top-bar {
      padding: 0;
    }
  }

  .hero {
    width: 100%;
    padding: $fixed-top-height 0;
  }

}

@include breakpoint(large) {
  .hero {
  }
}
