/*
 * =Global Variables
 */
$my-yellow: #F4D35E;
$dark-purple: #282343;
$light-purple: #454060;
$light-green: #B0D0C5;
$brown: #6B625B;
$fixed-top-height: 64px;
$hero-height-mobile: 300px;
$hero-height-desktop: 500px;

/*
 * =Foundation Overrides
 */
/* Pull variable names and rename from the foundation source */
$body-font-family: -apple-system-font, 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;

$foundation-palette: (
  primary: $dark-purple,
  secondary: $light-purple,
  success: #C0BE37,
  warning: $my-yellow,
  alert: #F95738,
);

$light-gray: #edf2f4;
$navbar-gray: #9d9d9d;
$dark-gray: #393D41;

$body-background: $white;


//== Media Breakpoints
//
//## additional media breakpoints
$mobile-portrait-width:   560px;

//== Z Indexes
$zindex-fixed-top: 99;

/*
 * =Personal Settings
 */

$topbar-background: map-get($foundation-palette, "primary");
$hero-background: map-get($foundation-palette, "primary");
$hero-code-background: map-get($foundation-palette, "secondary");


